#Chat-Component {
	width: 80vw !important;
	display: flex;
	flex-direction: column;
	background: linear-gradient(to right bottom, rgba(255,255,255, 0.6), rgba(255,255,255,0.3));
}

#TopBar {
	height: 60px;
	z-index: 2;
	backdrop-filter: blur(2rem);
	display: flex;
	justify-content: flex-start;
	align-items:center;
	padding-left: 2vw;
}
#MessageField {
	flex: 1 1;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
}

#ChatField {
	flex: 0 1 60px;
	height: 60px;
	padding: 10px;
	margin: 0;
	z-index: 2;
	backdrop-filter: blur(2rem);
}

.ChatFieldItem {
	display: flex;
	justify-content: center;
	align-items: center;
}
.ChatFieldItem img{
	padding-top: 5px;
}

form[name='messageForm'] {
	display: flex;
	height: 35px;
}
#ChatField input{
	outline: none;
	border: none;
}

#ChatField input[name="message"]{
	width: 70vw;
	border-radius: 10px;
	padding: 10px;
	margin-right: 15px;
}

#TopBar span{
	padding-left: 30px;
	font-size: 1.3rem;
	font-weight: 600;
	letter-spacing: 2px;
	color: #426696;
}