#Chat-Component {
	width: 80vw !important;
	border-left: 1px solid gray;
	display: flex;
	flex-direction: column;
}

#TopBar {
	height: 60px;
	border-bottom: 1px solid gray;
}
#MessageField {
	flex: 1 1 auto;
}

#ChatField {
	flex: 0 1 60px;
	height: 60px;
	border-top: 1px solid gray;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.ChatFieldItem {
	display: flex;
	justify-content: center;
	align-items: center;
}

form[name='messageForm'] {
	display: flex;
}
